/* Imports do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #48494a;
    background-image: url('/assets/images/body-bg.jpg');
    margin: 0;
    padding: 0;
}

.layout_padding {
    padding: 75px 0;
}

.layout_padding2 {
    padding: 45px 0;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding-top {
    padding-top: 75px;
}

.layout_padding-bottom {
    padding-bottom: 75px;
}

.call_to-btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #fec913;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.hero_section .call_to-btn {
    padding: 12px 35px;
}

.call_to-btn img {
    width: 18px;
    margin-left: 10px;
}

.btn_on-hover {
    transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
    color: #fff;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    transform: translateY(-7px);
}

.main-heading {
    color: #082465;
    font-weight: bold;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

/* Header Section */
.header_section {
    padding-top: 10px;
}

nav.navbar.navbar-expand-lg {
    padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #2d2c2c;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #232323;
}

.navbar-brand img {
    width: 25px;
    margin-right: 7px;
}

.custom_nav-container .nav_search-btn {
    background-image: url('/assets/images/search-icon.png');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url('/assets/images/menu.png');
    background-size: 40px;
}

/* Top Container */
.top_container {
    height: 95vh;
    position: relative;
}

.top_container::before {
    content: "";
    position: absolute;
    width: 48%;
    height: 100%;
    background: url('/assets/images/hero-bg.png');
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.top_container.sub_pages::before {
    background-size: 400px 200px;
    background-position: top left;
}

.top_container.sub_pages {
    height: 35vh;
}

.top_container.sub_page {
    height: auto;
}

/* Hero Section */
.hero-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 75px;
}

.hero_detail-box {
    width: 45%;
    color: #fefeff;
}

.hero_img-container {
    width: 55%;
}

.hero_detail-box h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #fec913;
    font-weight: bold;
}

.hero_detail-box p {
    margin-top: 20px;
    margin-bottom: 35px;
}

/* About Section */
.about_img-box {
    width: 65%;
    margin: 40px auto;
}

/* Contact Section */
.contact_section {
    background-image: url('/assets/images/shape-2.png');
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: left center;
}

.contact-form {
    padding: 25px;
    border-radius: 20px;
}

.contact-form input {
    border: none;
    outline: none;
    background-color: #dedee0;
    width: 100%;
    margin: 10px 0;
    padding: 7px 10px;
}

.contact-form .input_message {
    height: 120px;
}

.contact-form input::placeholder {
    color: #fff;
}

.contact-form button {
    border: none;
    outline: none;
    padding: 7px 50px;
    text-transform: uppercase;
    margin-top: 25px;
    background-color: #fec913;
    color: #fff;
    cursor: pointer;
}

.contact-form button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Landing Section */
.landing_section .number_heading {
    color: #fec913;
}

.landing_section p {
    text-align: center;
    margin-top: 15px;
}

.landing_detail {
    text-align: center;
}

/* Footer Section */
.footer_section {
    background-color: #082465;
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
}

.footer_section p {
    color: #fdfdfe;
    margin: 0;
    text-align: center;
}

.footer_section a {
    color: #fdfdfe;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .top_container {
        height: auto;
    }

    .top_container.sub_pages {
        height: auto;
    }

    .top_container.sub_pages::before {
        background-size: cover;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero_detail-box {
        width: 100%;
        margin-bottom: 45px;
    }

    .hero_img-container {
        width: 100%;
    }

    .top_container::before {
        width: 200%;
    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .custom_nav-container .nav_search-btn {
        background-image: url('/assets/images/search-icon-mobile.png');
        background-position: center;
    }
}

@media (max-width: 768px) {
    .hero_detail-box {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .contact_section {
        background-image: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* Bootstrap utilities helper classes */
.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.text-center {
    text-align: center !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-lg-0 {
    margin-bottom: 0 !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-lg-4 {
    margin-left: 1.5rem !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ml-lg-4 {
        margin-left: 1.5rem !important;
    }

    .my-lg-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}

.flex-column {
    flex-direction: column !important;
}

.flex-lg-row {
    flex-direction: row !important;
}

@media (min-width: 992px) {
    .flex-lg-row {
        flex-direction: row !important;
    }
}

/* Navbar styles */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.collapse:not(.show) {
    display: none;
}

.collapse.show {
    display: block;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    font-weight: 600;
}

a {
    color: #007bff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
    border: none;
    outline: none;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}