// Estilos específicos do header
// Os estilos globais estão em styles.scss
.header_section {
    padding-top: 10px;
}

nav.navbar.navbar-expand-lg {

    padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #2d2c2c;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #232323;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.logout {
    border-radius: 10px; 
    background-color: rgb(201, 70, 70); 
    color: white !important; 
    padding: 8px 16px;
}